# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go object files
*.o
*.a

# Test binary, build artifacts
*_test.go
*.test
*.out

# Vendor directory (if you are using Go modules, you might want to keep this)
# vendor/

# IDE/Editor specific files
.idea/
.vscode/
*.swp

# Go module files
go.sum

# Go Workspace files
go.work

# Environment variable files
.env